<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<style>
    .beautify {
        width: 30%;
        margin-left: 10px;
    }
</style>

<body>


<form th:method="POST" th:action="@{/auth/registration}" th:object="${userDto}">

    <div class="form-group beautify">


        <label for="login">Login: </label>
        <input type="text" th:field="*{username}" id="login" class="form-control"/>
        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</div>
    </div>
    <br/>
    <div class="form-group beautify">
        <label for="password">Password: </label>
        <input type="password" th:field="*{password}" id="password" class="form-control"/>
        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</div>
    </div>
    <div class="form-group beautify">
        <label for="email">Email: </label>
        <input type="text" th:field="*{email}" id="email" class="form-control"/>
        <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    </div>
    <br/>

    <input type="submit" value="Sign up!" class="btn btn-primary beautify"/>
</form>

</body>
</html>